<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlyMasterSyncGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FlyMasterSyncGui.Properties.Settings>
            <setting name="TracksFolder" serializeAs="String">
                <value>Tracks\</value>
            </setting>
            <setting name="TrackDbFilePath" serializeAs="String">
                <value>db.csv</value>
            </setting>
            <setting name="PlacesDbFilePath" serializeAs="String">
                <value>places.csv</value>
            </setting>
            <setting name="FlightLogWindowHeigh" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="FlightLogWindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="UserDoaramaApiKey" serializeAs="String">
                <value />
            </setting>
        </FlyMasterSyncGui.Properties.Settings>
    </userSettings>
</configuration>